// font icons support
@font-face {
    font-family: 'lg';
    src: url("#{$lg-path-fonts}/lg.eot?n1z373"); /* IE9 Compat Modes */
    src: url("#{$lg-path-fonts}/lg.eot?#iefixn1z373") format("embedded-opentype"), /* IE6-IE8 */
         url("#{$lg-path-fonts}/lg.woff2?n1z373") format("woff2"), /* Super Modern Browsers */
         url("#{$lg-path-fonts}/lg.woff?n1z373") format("woff"), /* Pretty Modern Browsers */
         url("#{$lg-path-fonts}/lg.ttf?n1z373") format("truetype"), /* Safari, Android, iOS */
         url("#{$lg-path-fonts}/lg.svg?n1z373#lg") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


.lg-icon {
    font-family: 'lg';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
